
body {
	font-size: 20px;
	background: #35A8CE;
	color: black;
}

.title {
	text-align: center;
	font-size: 40px;
}

.container {
	display: inline-flex;
	width: 100%;
	margin: 50px auto;
}

.item {
	width: 100%;
}

#left-item {
	
	padding-left: 40px;
}